/*----------------- MAIN CONTAINER DEFINITIONS ------------------*/
@import url('https://fonts.googleapis.com/css?family=Paytone+One|Lustria&display=swap');

.sheet-main-container {
	min-width: 600px;
	max-width: 800px;
	min-height: 600px;
}

.sheet-main-container input {
	background-color: #e6e6e6;
	padding: 0px;
}

.sheet-main-container select {
	width: auto;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	background-color: #e6e6e6;
}

.sheet-main-container input[type=text] {
	width: 100%;
}

.sheet-main-container textarea {
	box-sizing: border-box;
	margin: 0px;
	height: auto;
	background-color: #e6e6e6;
}

.sheet-main-container button {
	margin: 0px !important;
}

.sheet-small-input {
	width: 2em !important;
	border-bottom: 0px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding: 0px;
	border-radius: 0;
	text-align: center;
	font-size: x-small;
}

/*----------------- GENERAL CSS ------------------*/

.sheet-main-font {
	font-family: Paytone One;
}

.sheet-secondary-font {
	font-family: Lustria;
}

.sheet-flex-row {
	display: flex;
	flex-direction: row;
}

.sheet-flex-column {
	display: flex;
	flex-direction: column;
}

.sheet-grow {
	flex-grow: 1;
}

.sheet-label {
	text-transform: uppercase;
	margin-right: 5px;
	font-size: 15px;
}

.sheet-smaller-label {
	text-transform: uppercase;
	font-size: x-small;
}

.sheet-row-item-margin {
	margin-right: 5px !important;
}

.sheet-bottom-border-input {
	border-bottom: 1px solid black;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0;
}

/*----------------- SHEET PARTS ------------------*/

.sheet-header {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: stretch;
	background-color: #e6e6e6;
	padding: 5px;
}

.sheet-header input {
	border: 0px;
	font-size: 15px;
	margin-top: 10px;
}

.sheet-header-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sheet-header-box {
	display: flex;
	flex-direction: column;
	margin-right: 5px;
}

.sheet-header-box span {
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding-left: 5px;
}

.sheet-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-right: 20px;
	border: 2px solid black;
}

.sheet-navigation-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sheet-navigation-bar input {
	background: none;
	width: 2em !important;
	border:1px solid black;
	text-align: center;
}

.sheet-tab-panel {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.sheet-tab-panel button {
	margin-right: 5px !important;
	text-transform: uppercase;
}

.sheet-middle {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.sheet-corner-box {
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
	background-color: #e6e6e6;
}

.sheet-attribute-box {
	border-top: 2px solid black;
	border-left: 2px solid black;
	margin-bottom: 5px;
	padding-left: 5px;
}

.sheet-attribute-inner-box {
	display: flex;
}

.sheet-attribute-input {
	text-align: center;
	font-size: xx-large;
	height: 64px !important;
	border: 0px;
}

.sheet-bonus-input {
	text-align: center;
	font-size: xx-large;
	border: 0px;
	flex-grow: 1;
}

.sheet-temporary-bonus {
	border: 2px solid black;
	text-align: center;
}

.sheet-temporary-bonus-div {
	border-top: 2px solid black;
	margin: 2px;
}

.sheet-luck-div {
	border-top: 2px solid black;
	margin: 10px;
}

.sheet-luck-points {
	display: grid;
	grid-auto-flow: column;
	gap: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.sheet-luck-points input {
	border-bottom: 1px solid black;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0;
	text-align: center;
}

.sheet-inner-box {
	border: 2px solid black;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.sheet-middle-box {
	padding: 5px;
	margin-bottom: 10px;
	position: relative;
	background-color: #e6e6e6;
}

.sheet-secondary-attributes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.sheet-secondary-attribute-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sheet-secondary-attribute-box .sheet-label {
	text-align: center;
}

.sheet-armor-label .sheet-label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sheet-weapons {
	display: flex;
	flex-direction: column;
}

.sheet-weapons input {
	
}

.sheet-repeating-small-input {
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid black;
	border-radius: 0;
	font-size: x-small;
}

.sheet-inventory {
	display: flex;
	flex-direction: column;
}

.sheet-box-title {
	text-align: center;
}

.sheet-title-div {
	border-top: 2px solid black;
	margin: 2px;
}

.sheet-secondary-attribute-div {
	border-top: 1px solid black;
	margin: 2px;
}

.sheet-weapons-grid {
	display: grid;
	grid-template-columns: 30% 30% 30% 10%;
}

.sheet-weapons-grid button {
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
}

.sheet-weapon-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.sheet-weapon-row span {
	margin-right: 5px;
	margin-left: 5px;
}

.sheet-weapons-hidden textarea, .sheet-spells-hidden textarea {
	font-size: x-small;
}

.sheet-social-links {
	display: flex;
	align-items: flex-end;
}

.sheet-social-links input {
	border: 0px;
}

.sheet-social-links select {
	font-size: 15px;
}

.sheet-social-links textarea {
	align-self: stretch;
}

.sheet-social-links-box {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: flex-end;
	margin-right: 10px;
	align-items: center;
}

.sheet-social-link-label-box {
	border: 2px solid black;
	text-align: center;
}

.sheet-invisible {
	opacity: 0;
}

.sheet-arcana {
	grid-column: 1/3;
}

.sheet-personas-middle {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.sheet-persona-row {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.sheet-persona-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5px;
	margin-left: 5px;
}

.sheet-persona-box input {
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid black;
	border-radius: 0;
	text-align: center;
}

.sheet-persona-elements {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 5px;
	margin-top: 10px;
}

.sheet-element-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
}

.sheet-persona-div {
	width: 100%;
	height: 5px;
	border-bottom: 2px solid black;
}

.sheet-last-element-box {
	grid-column: 1/5;
	display: flex;
	justify-content: center;
}

.sheet-spells-grid {
	display: grid;
	grid-template-columns: 20% 20% 10% 20% 20% 10%;
}

.sheet-spells-grid button {
	grid-column: 1/6;
	display: grid;
	grid-template-columns: 1fr 1fr 10% 1fr 1fr;
	gap: 5px;
}

.sheet-spell-row {
	display: flex;
}

.sheet-repeatable-row {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 5px;
}

.sheet-repeatable-row-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*----------------- TAB CONTROL ------------------*/

/*Configure the tab buttons*/
.sheet-profiletab,
.sheet-personastab,
.sheet-social-linkstab {
	display: none;
}

/* show the selected tab */
.sheet-tabcontrol[value="profile"]~div.sheet-profiletab,
.sheet-tabcontrol[value="personas"]~div.sheet-personastab,
.sheet-tabcontrol[value="social-links"]~div.sheet-social-linkstab {
	display: block;
}

/*----------------- ROLL BUTTON ------------------*/

.sheet-main-container button[type=roll] {
	border: 0px;
	background: transparent !important;
	text-shadow: none !important;
	box-shadow: none !important;
	padding: 0px;
}

.sheet-main-container button[type=roll] input:hover {
	cursor: pointer;
}

.sheet-main-container button[type=roll]::before {
	display: none;
}

.sheet-main-container button[type=roll]:hover {
	opacity: 0.5;
}

/*------------- REPEATABLE SECTIONS BUTTONS -------------*/

.repcontrol>.btn {
	background-color: transparent;
	font-size: 2px;
	background-image: none;
	text-shadow: none;
	box-shadow: none;
	display: inline-block;
	position: relative;
	border: 0px;
}

.repcontrol>.btn:hover {
	opacity: 0.5;
}

.repcontrol>.btn.repcontrol_add::before {
	content: "&";
	color: black;
	font-size: 20px;
	font-family: 'Pictos' !important;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.repcontrol>.btn.repcontrol_edit::before {
	content: "(";
	color: black;
	font-size: 20px;
	font-family: 'Pictos' !important;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* change the 'Done' text after clicking 'Modify' */
.editmode~.repcontrol>.repcontrol_edit::before {
	content: ')';
}


/*------------- REPEATABLE SECTIONS TOGGLE SHOW/HIDE -------------*/

.sheet-showhidebutton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
}

.sheet-showhidebutton input[type=checkbox] {
	width: 20px;
	position: absolute;
	opacity: 0;
}

.sheet-showhidebutton:hover {
	opacity: 0.5;
}

.sheet-arrowtype input[type=checkbox]:checked~span::before {
	content: '▲';
}

.sheet-arrowtype span::before {
	content: '▼';
}

.sheet-showhidebutton span {
	color: black;
	font-size: 20px;
}

.sheet-toggle-checkbox {
	display: none;
}

.sheet-showhide {
	display: none;
}

.sheet-toggle-checkbox:checked~.sheet-showhide {
	display: block;
}

.sheet-main-container .repcontainer[data-groupname="repeating_social-links"]>.repitem .itemcontrol {
	z-index: 99;
	font-family: 'Pictos'
}

.sheet-main-container .repcontainer[data-groupname="repeating_social-links"]>.repitem .repcontrol_del {
	font-family: 'Pictos';
	background-color: #d13235;
	background-image: none;
	position: absolute;
	z-index: 99 !important;
	top: 0;
	right: 0
}

/*------------- HIDDEN SELECT ITEMS -------------*/
.sheet-select-spells {
	display: grid;
	grid-template-columns: 20px auto;
	gap: 2px;
	align-items: center;
	background-color: antiquewhite;
}

.sheet-configtype {
	font-family: 'Pictos';
}

.sheet-configtype input[type=checkbox]:checked~span::before {
	content: '*';
}

.sheet-configtype span::before {
	content: 'y';
}

.sheet-corner-position {
	position: absolute;
	right: 10px;
}

.sheet-add-button {
	border: 0px;
	font-size: 20px;
	width: 20px;
	height: 20px;
	background: transparent !important;
	text-shadow: none !important;
	box-shadow: none !important;
	padding: 0px;
}

.sheet-add-button::before {
	content: '+';
	font-family: 'Pictos' !important;
}

.sheet-add-button:hover {
	opacity: 0.5;
}

/*------------- SHEET ROLL TEMPLATE -------------*/

.sheet-rolltemplate-main .sheet-template-container {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	font-family: Paytone One;
	text-align: center;
	background-color: #e6e6e6;
}

.sheet-rolltemplate-main p {
	font-family: Paytone One;
	text-align: left;
}

.sheet-rolltemplate-main .sheet-template-row {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.sheet-rolltemplate-main .sheet-template-header {
	flex-direction: row !important;
	background-color: black;
	color: white;
}

.sheet-rolltemplate-main .sheet-template-label {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.sheet-rolltemplate-main .sheet-template-label2 {
	text-transform: uppercase;
	font-style: italic;
}

.sheet-rolltemplate-main .sheet-template-success {
	color: green;
}

.sheet-rolltemplate-main .sheet-template-fail {
	color: red;
}